{#
/**
 * Custom Events plugin for Craft CMS 3.x
 *
 * Custom Events index.twig
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   CustomEvents
 * @since     2.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("superbig\\customevents\\assetbundles\\customevents\\CustomEventsAsset") %}
{% do view.registerAssetBundle("superbig\\customevents\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{% set docsUrl = "https://github.com/sjelfull/custom-events/blob/master/README.md" %}

{% set title = "Custom Events" %}

{% set pluginCpUrl = url('custom-events') %}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@superbig/customevents/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('custom-events') }}</a>
    </div>
{% endset %}

{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('custom-events') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
