{#
/**
 * Custom Events plugin for Craft CMS 3.x
 *
 * Log Field Input
 *
 * @author    Superbig
 * @copyright Copyright (c) 2017 Superbig
 * @link      https://superbig.co
 * @package   CustomEvents
 * @since     2.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% if events %}
    <table class="data table fullwidth">
        <thead>
        <tr>
            {% for key, heading in field.getEnabledTableColumns() %}
                <th>{{ heading }}</th>
            {% endfor %}
        </tr>
        </thead>
        {% for event in events %}
            <tr>
                {% for key, heading in field.getEnabledTableColumns() %}
                    {% if event[key] is defined %}
                        <td>{{ event[key] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No events for this element.</p>
{% endif %}
